@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jura:wght@400;600&family=Oswald:wght@300&family=Prompt:ital,wght@0,200;1,200&family=Righteous&family=Shadows+Into+Light&display=swap');

:root {
    --background-color:#282846;
    --fontcolor:#FED049;
    --tetri:#D8EBE4;
}

*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Righteous', cursive;
    background-color: var(--background-color);
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.quotebox{
    width: 55vh;
    height: 40vh;
    border: 2px solid var(--fontcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
.quote{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--fontcolor);
}
.quote p{
    font-size: 35px;
    color: var(--fontcolor);
    text-align: center;
    transition:1s;
}
.quotebox button{
    padding: 10px 20px ;
    border-radius: 20px;
    background-color:var(--fontcolor);
    color: var(--background-color);
    font-size: large;
    font-family: 'Righteous', cursive;
    font-weight: bold;
    border: 2px solid var(--fontcolor);
    cursor: pointer;
    outline: inherit;

}

@media (max-width: 280px){
    .quote p{
        font-size:20px ;
    }
}
@media (max-width: 395px){
    .quote p{
        font-size:25px ;
    }
}
@media (max-width: 375px){
    .quote p{
        font-size:25px ;
    }
}